* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 


body {
    margin: auto;
    display: block;
    width: 800px;
}

h1 {
    text-align: center;
    color: #E53170;
    padding-top: 30px;
    padding-bottom: 40px;
}

